body{
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;

    background-image: url("frontera.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    min-height: 100vh;
}

nav{
    background-color: rgba(0, 51, 102, 0.9);
    text-align: center;
    padding: 25px;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 30px;
    font-size: 28px;
    font-weight: bold;
}

nav a:hover{
    color: #66ccff;
}

h1{
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
    text-shadow: 2px 2px 5px black;
}

details{
    width: 600px;
    margin: 50px auto;
    background-color: rgba(0, 51, 102, 0.85);
    padding: 25px;
    border-radius: 15px;
}

summary{
    cursor: pointer;
    font-size: 35px;
    font-weight: bold;
}

ul{
    margin-top: 15px;
}

li{
    font-size: 28px;
    margin: 10px 0;
}

.contenido{
    width: 80%;
    margin: 40px auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 15px;
    font-size: 24px;
}


.myButton {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}

footer{
    background-color: rgba(0, 51, 102, 0.95);
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 80px;
    border-top: 3px solid #66ccff;
}

footer h3{
    color: #66ccff;
    font-size: 28px;
    margin: 5px;
}

footer p{
    font-size: 18px;
    margin: 8px;
}

