body{
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;

    background-image: url("frontera.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    min-height: 100vh;
}

nav{
    background-color: rgba(0, 51, 102, 0.9);
    text-align: center;
    padding: 25px;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 30px;
    font-size: 28px;
    font-weight: bold;
}

nav a:hover{
    color: #66ccff;
}

h1{
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
    text-shadow: 2px 2px 5px black;
}

details{
    width: 600px;
    margin: 50px auto;
    background-color: rgba(0, 51, 102, 0.85);
    padding: 25px;
    border-radius: 15px;
}

summary{
    cursor: pointer;
    font-size: 35px;
    font-weight: bold;
}

ul{
    margin-top: 15px;
}

li{
    font-size: 28px;
    margin: 10px 0;
}

.contenido{
    width: 80%;
    margin: 40px auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 15px;
    font-size: 24px;
}


